@import "tailwindcss";


.windowbg{
    background-image: url("/xpwallpaper.webp");
    background-repeat: no-repeat;
    background-size: cover;
  background-size: cover;
  background-position: center;
}